body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ccc;
}
th {
  text-align: left;
}
.CantMakeCard {
  color: red;
}
.goal-es-multiple-words {
  display: inline-block;
}
.stage0 { /* not ready to test */
  border-bottom: #ccc solid 2px;
}
.stage1 { /* ready to test */
  color: #888;
}
.goal-es-multiple-words.stage1 { /* ready to test */
  border-bottom: #888 solid 2px;
}
.stage2 { /* wrong */
  color: red;
}
.stage3 { /* slow */
  color: #990;
}
.goal-es-multiple-words.stage3 {
  border-bottom: #440 solid 2px;
}
.goal-es-single-word.stage4 { /* passed */
  text-decoration: underline;
  text-decoration-color: green;
}
.goal-es-multiple-words.stage4 {
  border-bottom: #080 solid 2px;
}

.ar-buckwalter {
  font-family: monospace;
  font-size: 14pt;
}
input.ar-buckwalter {
  font-family: monospace;
  font-size: 14pt;
  height: 60px;
  width: 200px;
}
.ar-monospace {
  font-family: "Kawkab Mono Light";
  font-weight: 100;
  font-size: 14pt;
}
.ar-middles {
  font-family: "Kawkab Mono Light";
  font-weight: 100;
  font-size: 14pt;
  letter-spacing: 3px;
}
input.ar-monospace {
  font-family: "Kawkab Mono Light";
  font-weight: 100;
  font-size: 14pt;
  height: 60px;
  width: 200px;
}