body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ccc;
}
th {
  text-align: left;
}
.CantMakeCard {
  color: red;
}
.goal-es-multiple-words {
  display: inline-block;
}
.stage0 { /* not ready to test */
  border-bottom: #ccc solid 2px;
}
.stage1 { /* ready to test */
  color: #888;
}
.goal-es-multiple-words.stage1 { /* ready to test */
  border-bottom: #888 solid 2px;
}
.stage2 { /* wrong */
  color: red;
}
.stage3 { /* slow */
  color: #990;
}
.goal-es-multiple-words.stage3 {
  border-bottom: #440 solid 2px;
}
.stage4 { /* passed */
}
.goal-es-multiple-words.stage4 {
  border-bottom: #080 solid 2px;
}
